table td,th{
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 1000px;
}
td a {
    text-decoration: none;
    color: black;
}
th {
    text-align: left;
}
.yellow {
    background-color: yellow;
}
.prva tr:nth-child(odd){
    font-style: italic;
}
.druga tr:nth-child(even):hover {
    background-color: yellow;
}
.druga tr:nth-child(3n) {
    color: blue;
}
.druga tr:nth-child(3n) a{
    color: blue;
}