body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: #073A4F;
    color: white;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 90px;
    font-size: 30px;
}
ul a {
    text-decoration: none;
    /*color: #104943;*/
    color: white;
}
ul a:hover {
    color: #0e8176;
}
.slika {
    background-image: url(../coffee-bar.jpg);
    height: 90vh;
}
.slika h1 {
    display: flex;
    justify-content: center;
    padding-top: 350px;
    font-size: 50px;
    /*color: black;*/
    color: white;
}
.onama {
    text-align: center;
    padding: 100px 0;
}
.onama h2 {
    font-size: 40px;
}
.onama p {
    font-size: 20px;
    padding: 0 200px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
    /*background-color: #1a978b;*/
    background-color: #073A4F;
}
form h2 {
    font-size: 40px;
}
form label {
    font-size: 20px;
}
form input {
    width: 200px;
    height: 30px;
}
#posalji {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    color: #0e8176;
    border-radius: 50px;
    
}