p {
    font: 18px Arial, Helvetica, sans-serif;
    background: blueviolet url(../01_HTML/img/cvet.jpg);
    text-align: center;
    border: 3px solid black;
    color: #39F80A;
}
.klasa {
    color: purple;
}
#p1{
    color: brown;
}
body a:visited{
    color: red;
}
body a:hover {
    color: violet;
}
a:active{
    font-size: 24px;
}
h6{
    color: purple;
}